# The Docker image that will be used to build your app
image: python3.9.18-alpine3.17
# Functions that should be executed before the build script is run
before_script:
  - python -m venv venv
  - . venv/bin/activate
  - pip install -r requirements.txt
pages:
  script:
    - cd public
    - make clean & make html
  artifacts:
    paths:
      # The folder that contains the files to be exposed at the Page URL
      - public
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
