<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Yandex_bitrix</title>
</head>
<body class="b-page">
    <div class="b-page__window">
        <form action="/forward/" method="post">
            <div class="b-top">
                <h3>Отчет из Bitrix</h3>
                <p>Введите дату начала</p>
                <input type="date" name="trip-f" value="2022-09-22">
                <p>Введите дату конца</p>
                <input type="date" name="trip-l" value="2022-10-22" min="">
            </div>
            <div class="b-main">
                <button class="btn">Синхронизировать</button>
            </div>
        </form>
    </div>
</body>
</html>